// -----------------------------------------------------------------------------
// This file contains all application-wide Sass functions.
// -----------------------------------------------------------------------------

$font-heading: 'Source Code Pro', monospace;
$font-default: 'Open Sans', sans-serif;
$font-size: 1.2em;
$font-weight: 200;

$color-primary: #1A237E;
$color-primary-light: #9EA8DB;
$color-secondary: #FF7000;
$color-white: #E8EAF6;
$color-black: #0B0F33;


$content-padding: 5px;
$content-margin-vertical: 20px;
$content-margin: $content-margin-vertical 5px;



