<header>
	<div class="big">
		<nav class="menu">
			<a class="component" href="#">Home</a>
			<a class="component" href="#">Blog</a>
			<a class="component" href="https://www.instagram.com/leendertvanbeelen/">Instagram</a>
			<a class="component" href="https://github.com/lwvb">github</a>
		</nav>
		<h1 class="component">Blog - Leendert van Beelen</h1>
		<p class="component">This is a place where I share thoughts with the rest of the world. The blogs are in Dutch and, or English depending on the subject and intented audience.</p>
		<ul class="taglist ">
			<li class="component"><a href="#">#webdesign</a></li>
			<li class="component"><a href="#">#programming</a></li>
			<li class="component"><a href="#">#travel</a></li>
		</ul>
	</div>
	<div class="small"></div>
</header>

<main class="gridlist">
  {{#each items}}
 	  <article class="gridlist-item component">
      <h2><a href="#">{{ title }}</a></h2>
        {{#if image}}
          <img src="{{ image.url }}">
        {{else}}
          <p>{{ firstlines }}</p>
        {{/if}}
      <ul class="taglist">
        <li><a href="#">#{{ tag }}</a></li>
      </ul>
    </article>
  {{/each}}

</main>
