.gridlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gridlist-item {
  width: 30%;
  @include media('<desktop') {
    width: 45%;
  }
  @include media('<phone') {
    width: 100%;
  }
}

