.taglist {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.taglist li, .tag {
  padding: $content-padding;
  margin: $content-margin;
  background-color: $color-white;
  background-clip: border-box;
  font-weight: $font-weight;

}