.taglist {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.taglist li {
  background-color: $color-white;
  background-clip: border-box;
  font-weight: $font-weight;
  text-transform: uppercase;
}