header {
  display: flex;
  padding: 0 10%;
	flex-wrap: wrap;
  margin-top: $content-margin-vertical;
  @include media('<tablet') {
    padding: 0 5%;
  }
}

header .small {
  flex: 1;
  @include media('<tablet') {
    display: none;
  }
}

header .big{
  flex: 2;
}

header .full-width {
  width: 100%;
}

header > :nth-child(even) {
  padding-left: 10%;
}

header .small {
  

}
