header {
  display: flex;
  padding: 0 10%;
	flex-wrap: wrap;
  @include media('<tablet') {
    padding: 0 5%;
  }
  margin-bottom: $content-margin-vertical;
}

header .small {
  flex: 1;
  @include media('<tablet') {
    display: none;
  }
}

header .medium {
  flex: 2;
}

header .big{
  flex: 3;
}

header > :nth-child(even) {
  padding-left: 10%;
}

header .taglist li{
  margin-right: $content-margin-vertical;
}

.main-menu {
  background: $color-white;
  width: 100%;
  color: $color-secondary;
  text-align: center;
  box-shadow: 0 0 7px $color-black;
  margin-bottom: $content-margin-vertical;
}

 .main-menu > * {
  background: transparent;
  margin-top: 0;
  margin-left: ($content-margin-vertical/4);
  margin-right: ($content-margin-vertical/4);
  padding: 15px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 120%;
}