header {
  display: flex;
  padding: 0 10%;
	flex-wrap: wrap;
  @include media('<tablet') {
    padding: 0 5%;
  }
}

header .small {
  flex: 1;
  @include media('<tablet') {
    display: none;
  }
}

header .medium {
  flex: 2;
}

header .big{
  flex: 3;
}

header > :nth-child(even) {
  padding-left: 10%;
}

header .taglist li {
  margin-right: $content-margin-vertical;
  margin-bottom: $content-margin-vertical;
}